<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCADA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SCADA.Properties.Settings>
      <setting name="password" serializeAs="String">
        <value>tantirta</value>
      </setting>
      <setting name="OPCServer1" serializeAs="String">
        <value>Mitsubishi.MXOPC</value>
      </setting>
      <setting name="OPCHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="auto_connect_opc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fl1_label_tf1" serializeAs="String">
        <value>Mesin 1</value>
      </setting>
      <setting name="fl1_label_tf2" serializeAs="String">
        <value>Mesin 2</value>
      </setting>
      <setting name="fl1_label_tf3" serializeAs="String">
        <value>Mesin 3</value>
      </setting>
      <setting name="fl1_label_tf4" serializeAs="String">
        <value>Mesin 4</value>
      </setting>
      <setting name="fl1_header" serializeAs="String">
        <value>Flow Meter UHT 1</value>
      </setting>
      <setting name="fl1_label_sumber1" serializeAs="String">
        <value>UHT 1</value>
      </setting>
      <setting name="fl2_label_tf1" serializeAs="String">
        <value>Mesin 1</value>
      </setting>
      <setting name="fl2_label_tf2" serializeAs="String">
        <value>Mesin 2</value>
      </setting>
      <setting name="fl2_label_tf3" serializeAs="String">
        <value>Mesin 3</value>
      </setting>
      <setting name="fl2_label_tf4" serializeAs="String">
        <value>Mesin 4</value>
      </setting>
      <setting name="fl2_header" serializeAs="String">
        <value>Flow Meter UHT 2</value>
      </setting>
      <setting name="fl2_label_sumber1" serializeAs="String">
        <value>UHT 2</value>
      </setting>
      <setting name="fl3_label_tf1" serializeAs="String">
        <value>Tank 1</value>
      </setting>
      <setting name="fl3_label_tf2" serializeAs="String">
        <value>Tank 2</value>
      </setting>
      <setting name="fl3_label_tf3" serializeAs="String">
        <value>Tank 3</value>
      </setting>
      <setting name="fl3_label_tf4" serializeAs="String">
        <value>Tank 4</value>
      </setting>
      <setting name="fl3_header" serializeAs="String">
        <value>Flow Meter Tank Double Jaket 1</value>
      </setting>
      <setting name="fl3_label_sumber1" serializeAs="String">
        <value>Sumber RO</value>
      </setting>
      <setting name="fl3_label_sumber2" serializeAs="String">
        <value>Air</value>
      </setting>
      <setting name="fl4_label_tf1" serializeAs="String">
        <value>Tank 1</value>
      </setting>
      <setting name="fl4_label_tf2" serializeAs="String">
        <value>Tank 2</value>
      </setting>
      <setting name="fl4_label_tf3" serializeAs="String">
        <value>Tank 3</value>
      </setting>
      <setting name="fl4_label_tf4" serializeAs="String">
        <value>Tank 4</value>
      </setting>
      <setting name="fl4_header" serializeAs="String">
        <value>Flow Meter Tank Double Jaket 2</value>
      </setting>
      <setting name="fl4_label_sumber1" serializeAs="String">
        <value>Sumber RO</value>
      </setting>
      <setting name="fl4_label_sumber2" serializeAs="String">
        <value>Air</value>
      </setting>
    </SCADA.Properties.Settings>
  </userSettings>
</configuration>